{% extends 'padre.html' %}

{% load static %}

{% block post %}

<!-- ##### Post Details Area Start ##### -->
<section class="post-news-area section-padding-100-0 mb-70">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Post Details Content Area -->
            <div class="col-12 col-lg-8 col-xl-9">
                <div class="post-details-content mb-100">
                    <div class="blog-thumbnail mb-50">
                        <img src="{% static 'img/chicas-almuerzo.jpg' %}" alt="">
                    </div>
                    <div class="blog-content">
                        <a href="#" class="post-tag">¿Quiénes somos?</a>
                        <h4 class="post-title">Acerca de nosotras</h4>
                        
                        <p>Somos Nadia y Mónica, dos personas que nada tienen que ver con el mundo de la programación y tampoco de la cocina, pero decidimos embarcarnos en esta aventura.
                        <p>Mónica es doctora en química y forma parte de un grupo de investigación en biosensores y bioanálisis de la Universidad de Buenos Aires. Esta interesada en conocer más acerca de lenguajes de programación ya que los considera una herramienta poderosa en los proyectos de investigación que está llevando a cabo.</p>
                        <p>Nadia es contadora pública y se desempeña como analista contable en el sector privado. Está interesada en los diferentes lenguajes de programación aunque reconoce que le cuesta. Considera que la tecnología es una gran herramienta para mejorar la vida humana, aunque no siempre se usa con esos fines. Sin embargo, ella quiere contribuir y el primer paso es empezar a aprender.</p>
                        <p>Esperemos que te guste el blog, un espacio donde volcamos nuestros sabores favoritos y vos también lo podés hacer tan sólo registrándote. Saludos!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}