{% extends 'padre.html' %}

{% load static %}

{% block post %}
    <!-- ##### Post Details Area Start ##### -->
    <section class="post-news-area section-padding-100-0 mb-70">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Post Details Content Area -->
                <div class="col-12 col-lg-8 col-xl-9">
                    <div class="post-details-content mb-100">
                        <div class="blog-thumbnail mb-50">
                            {% if post.imagen_post %}
                            <img src="{{ post.imagen_post.url }}" alt="">
                            {% endif %}
                        </div>
                        <div class="blog-content">
                            <a href="#" class="post-tag">{{ post.categoria }}</a>
                            <h4 class="post-title">{{ post.titulo }}</h4>
                            <p>{{ post.subtitulo }}</p>
                            <div class="post-meta mb-50">
                                <span class="post-date">{{ post.fecha_post }} | </span>
                                <span class="post-author">By {{ post.autor.username }} {{ post.autor.first_name }} {{ post.autor.last_name }}</span>
                            </div>
                            <div class="post-meta mb-50">
                                {% if user.is_authenticated %}
                                    {% if user.id == post.autor.id %}
                                        <a href="{% url 'editarPost' post.pk %}" class="post-date">Editar</a>
                                        <a href="{% url 'eliminarPost' post.pk %}" class="post-author">Eliminar</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <p>{{ post.cuerpo|safe }}</p>
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>   
{% endblock %}