{% extends 'padre.html' %}

{% load static %}

{% block post %}            
            
{% if categorias_posts %}
<div class="container">
    <h4>{{ opciones }}</h4>
    
    <div class="big-posts-area mb-50"></div>
    
            {% for post in categorias_posts %}

            <!-- Single Big Post Area -->
                
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <div class="big-post-content text-center mb-50">
                            <a href="{% url 'categoria' post.categoria %}" class="post-tag">{{ post.categoria }}</a>
                            <a href="{% url 'articulo' post.pk %}" class="post-title">{{ post.titulo }}</a>
                            <div class="post-meta">
                                <span class="post-date">{{ post.fecha_post }}</span>
                                <span class="post-author">By {{ post.autor.first_name }} {{ post.autor.last_name }}</span>
                            </div>
                            <div class="post-meta">
                                <a href="{% url 'editarPost' post.pk %}" class="post-date">Editar</a>
                                <a href="{% url 'eliminarPost' post.pk %}" class="post-author">Eliminar</a>
                            </div>
                            <p> {{ post.cuerpo|slice:':150'|safe }}</p>
                            <a href="{% url 'articulo' post.pk %}" class="btn bueno-btn">Leer más</a>
                        </div>
                    </div>
                </div>
        </div>
                {% endfor %}
            {% else %}
            <h2>No hay nada en esta categoría aún</h2>
            {% endif %}
</div>

{% endblock %}