{% extends "padre.html" %}

{% load static %}
    

{% block post %}

<section class="contact-area section-padding-200"></section>
    <div class="container">
       
  
<!-- Login/Register -->
<div class="login-area">
    <a href="#" class="post-tag">Iniciar sesión</a>
</div>

<div class="col-12 col-md-100">
    <div class="login-area">
        <a href="">Login</a>
    </div>
</div>

<!-- Nav End -->


<div class="row align-items-center">
    <div class="col-12 col-md-6">
        <div class="big-post-content text-center mb-50">    

            <form action="{% url 'login' %}" method="POST"> {% csrf_token %}

                <table>
                    {{ formulario.as_table }}
                
                </table>
                <input type="submit" value="Iniciar Sesión" class="btn bueno-btn" >
                <img src="{% static 'img/bg-img/bg-showcase-3.jpg' %}" alt="">
                <div class="post-meta"></div>
            {{ mensaje }}
            </form>
        </div>
    </form>
</div>


{% endblock %}